<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="form-ask" >
            <div class="card-header">
                    <h1>Ask Questions</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/ask">
                    <label>Title</label>
                    <input name="title" type="text" placeholder="Title" class="form-control">
                    <br>
                    <label>Description</label>
                    <textarea name="description" placeholder="Describe your question" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-dark">Ask Here</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>